# =========================
# Virtual Machines
# =========================
*.vdi
*.vmdk
*.ova
*.ovf
*.vbox
*.qcow2

# =========================
# Logs
# =========================
*.log
logs/
splunk_logs/

# =========================
# Splunk
# =========================
splunkforwarder/
*.spl
var/log/splunk/

# =========================
# Python
# =========================
__pycache__/
*.pyc
venv/
.env

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sensitive Files
# =========================
*.pem
*.key
*.crt
secrets.txt
credentials.txt

# =========================
# Large Capture Files
# =========================
*.pcap
*.pcapng

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.tmp
